:root {
  /* --foreground: #171717; */
}
:root {
  /* --bg-color: #121212;
  --text-color: #e0e0e0;
  --secondary-text-color: #b0b0b0;
  --primary-color: #4f46e5; 
  --accent-color: #9333ea; 
  --border-color: #333;
  --card-bg: #1e1e1e;
  --hover-color: #373737; */

  /* --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif; */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

/* For IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
}

