:root {
  --foreground: #171717;
}
/* Global Styles */
:root {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --secondary-text-color: #b0b0b0;
  --primary-color: #4f46e5; /* Indigo */
  --accent-color: #9333ea; /* Purple */
  --border-color: #333;
  --card-bg: #1e1e1e;
  --hover-color: #373737;

  /* Fonts */
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

/* globals.css */

/* globals.css */

/* globals.css */

body {
  @apply bg-gradient-to-br from-[#0b0f0e] via-[#070a09] to-[#020404] min-h-screen w-full;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
